﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://abs.twimg.com/favicons/favicon.ico" />
    <title>Twitter2.0</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/sidebar.css" />
        <link rel="stylesheet" href="~/css/User-profile-card.css" />
        <link rel="stylesheet" href="~/css/tw-acc.css" />
        <link rel="stylesheet" href="~/css/search.css" />
        <link rel="stylesheet" href="~/css/authentication.min.css" />
        <link rel="stylesheet" href="~/css/footer.css" />
        <link rel="stylesheet" href="~/css/landing-page.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/sidebar.css" />
        <link rel="stylesheet" href="~/css/User-profile-card.css" />
        <link rel="stylesheet" href="~/css/tw-acc.css" />
        <link rel="stylesheet" href="~/css/search.css" />
        <link rel="stylesheet" href="~/css/authentication.min.css" />
        <link rel="stylesheet" href="~/css/footer.css" />
        <link rel="stylesheet" href="~/css/landing-page.css" />
    </environment>

    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css" />
</head>
<body>
    <div class="pageContentWrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container navbar-width">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Twitter2.0</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a asp-area="" asp-controller="DownloadedTweets" asp-action="Index">Downloaded Tweets</a></li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Statistics" asp-action="Index">Statistics</a><hr />
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="UserManagement" asp-action="Index">User Management</a>
                                </div>
                            </li>
                        }
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About us</a></li>
                    </ul>
                    <div id="navbar" class="navbar-collapse collapse">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="top-search">

                                @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "navbar-form navbar-left" }))
                                {
                                    @Html.AntiForgeryToken();
                                    <input type="text" name="UserInput" class="form-control" placeholder="Search Twitter Accounts">
                                    <input type="submit" value="Go!">
                                }
                            </div>
                        }
                        @await Html.PartialAsync("_LoginPartial")
                    </div>
                </div>
            </div>
        </nav>
        <div class="wrapper">
            @if (User.Identity.IsAuthenticated)
            {
                <!-- Sidebar Holder -->
                <nav id="sidebar" style="z-index: 100;overflow-x: hidden;">
                    <div class="sidebar-header" id="user-profile">
                        @await Component.InvokeAsync("UserProfile")
                    </div>
                    <div id="fav-users">
                        @await Component.InvokeAsync("FavoriteTwitterAccounts")
                    </div>

                </nav>

            }
            <!-- Page Content Holder -->
            <div class="container  body-content">
                @RenderBody()
                <hr />
            </div>
        </div>
    </div>
    @*<footer>
            @await Html.PartialAsync("_FooterPartial")
        </footer>*@
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
