﻿@using BackUpSystem.Web.Models.HomeViewModels
@model TimelineViewModel

<div class="body-timeline">
    @foreach (var tweet in Model.Tweets)
    {
        if (tweet.Text.StartsWith("RT"))
        {
            <p5>@tweet.TweetAuthor Retweeted</p5>
        }

        var btnId = $"btn-{tweet.Id}";
        <div id="@tweet.Id">
            <blockquote class="twitter-tweet test" id="@tweet.Id">
                <a href="@tweet.TweetUrl"></a>
            </blockquote>

            <!-- Add icon library -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <div class="binding-btn">
                @if (!tweet.CanBeDeleted)
                {
                    if (!tweet.IsDownloaded)
                    {
                        <button class="btn btn-click" id="@btnId"
                                parameter1="@tweet.Id"
                                parameter2="@tweet.CreatedAt"
                                parameter3="@tweet.LikesCount"
                                parameter4="@tweet.RetweetCount"
                                parameter5="@tweet.Text"
                                parameter6="@tweet.TweetAuthor"
                                parameter7="@tweet.TweetUrl">
                            <i class="fa fa-download">Download</i>
                        </button>
                    }
                }
                else
                {
                    <button class="btn btn-click" id="@btnId"
                            parameter1="@tweet.Id"
                            parameter7=@tweet.TweetUrl>
                        <i class="fa fa-trash">Delete</i>
                    </button>
                }
                <a target="_blank" asp-controller="Tweet" asp-action="Retweet" asp-route-tweetid="@tweet.Id"
                   class="btn">
                    <i class="fa fa-retweet"></i> Retweet
                </a>

            </div>
        </div>
        var messageId = $"message{tweet.Id}";
        <p class="message" data-message id="@messageId"></p>
    }
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        $(".btn-click").click(function () {
            const data = {
                'id': $(this).attr("parameter1"),
                'createdAt': $(this).attr("parameter2"),
                'likesCount': $(this).attr("parameter3"),
                'retweetsCount': $(this).attr("parameter4"),
                'text': $(this).attr("parameter5"),
                'tweetAuthor': $(this).attr("parameter6"),
                'tweetUrl': $(this).attr("parameter7")
            };

            console.log(data);
            const btnId = "#btn-" + data.id;
            const messageId = "#message" + data.id;
            let postUrl;

            if (data.createdAt != undefined) {
                postUrl = "/tweet/download";
            }
            else {
                postUrl = "/tweet/delete";
                $('#' + data.id).remove();
            }
            console.log(postUrl);
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: postUrl,
                data: JSON.stringify(data),
                datatype: "json",
                success: function (result) {

                    $(btnId).hide();

                    $(messageId).text(result).css({ 'color': 'green', 'font-weight': '500', 'font-size': 'large' }).show().delay(3000).fadeOut();
                    $('#user-profile').load("/Home/UpdateUserProfileInLayout");

                },
                error: function (result) {
                    $(messageId).text("Error: " + result).css({ 'color': 'red', 'font-weight': '500', 'font-size': 'large' }).show().delay(3000).fadeOut();;
                }
            });
        });
    });
</script>
