﻿/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    overflow-x: hidden;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

i {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}
ul {
    list-style-type: none;
    padding: 0 !important;
}

.navbar-width {
    width: 97% !important;
}

.res-heading {
    font-size: 2.75rem;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #1da1f2;
    color: #fff;
    transition: all 0.3s;
    height: auto;
    position: fixed;
    overflow-y: scroll;
    top: 2.5%;
    bottom: 0;
}

#sidebar::-webkit-scrollbar {
    display: none;
    // Safari and Chrome
}

    #sidebar .sidebar-header {
        padding: 20px;
        background: #1da1f2;
    }

        #sidebar .sidebar-header strong {
            display: none;
            font-size: 1.8em;
        }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }


#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

    #sidebar ul li a:hover {
        color: #1da1f2;
        background: #fff;
    }

    #sidebar ul li a i {
        margin-right: 10px;
    }

#sidebar ul li > a {
    color: #fff;
    background: #1da1f2;
}


a[data-toggle="collapse"] {
    position: relative;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    .res-heading {
        font-size: 1.4rem;
    }

    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
    }

        #sidebar .sidebar-header h5 {
            display: none;
        }

        #sidebar ul li a {
            text-align: left;
        }

        #sidebar ul li a {
            padding: 20px 10px;
            text-align: center;
            font-size: 0.85em;
        }

            #sidebar ul li a i {
                margin-right: 0;
                display: block;
                font-size: 1.8em;
                margin-bottom: 5px;
            }

        #sidebar a[aria-expanded="false"]::before {
            top: auto;
            bottom: 5px;
            right: 50%;
            -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
            transform: translateX(50%);
        }

    a[aria-expanded="false"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: 0 !important;
    }

        #sidebar .sidebar-header h5 {
            display: none;
        }

        #sidebar .sidebar-header strong {
            display: block;
        }

        #sidebar ul li a {
            padding: 20px 10px;
        }

            #sidebar ul li a i {
                margin-right: 0;
                display: block;
            }

            #sidebar ul li a i {
                font-size: 1.3em;
            }



    #sidebar {
        margin-left: 0;
    }
}
