﻿<h2 class="text-center" style="margin-top:2em; margin-left: 3em;">Team AWESOME:</h2>
<div class="jumbotron col-md-12" style="background-color:#A8D0F1; margin-left: 6em;">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <h3><u>Alek Hristov</u></h3>
                <p>Email: alek.hristov@yahoo.com</p>
                <p>GitHub profile: <a href="https://github.com/alekhristov">Alek Hristov</a></p>
            </div>
            <div class="col-md-6">
                <img src="~/images/Alek Hristov.jpg" alt="Search Option" class="img-responsive img-circle img-thumbnail" style="height:300px;" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <img src="~/images/jedinoreaga.jpg" alt="Search Option" class="img-responsive img-circle img-thumbnail" style="height:300px;" />
            </div>
            <div class="col-md-6">
                <h3><u>Anton Simeonov</u></h3>
                <p>Email: anton.simeonov@yahoo.com</p>
                <p>GitHub profile: <a href="https://github.com/simeonovanton">Anton Simeonov</a></p>
            </div>

        </div>
    </div>
</div>